<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    <add name="skola" connectionString="DataSource=DESKTOP-A02KV2H\SQLEXPRESS; Initial Catalog=projekat_2026_StefanAndrejevic"></add>
  </connectionStrings>  
</configuration>